{% extends 'crm/master.html' %}
{% load static %}

{% block main %}
  <style>
    .custom-btn {
      font-size: 2rem;
      padding: 40px 200px;
    }

    .custom-club-btn {
      font-size: 2rem;
      padding: 40px 200px;
      background-color: #1ecf47; 
      color: white; 
    }
  </style>

  <div class="container main">
    <div class="h-100 d-flex flex-row align-items-center justify-content-center">
      <h1 class="p-5" style="font-style: italic; font-size: 5rem">ClubHub</h1>
    </div>

    <!-- List of Clubs as Buttons -->
    <div class="d-flex flex-column mb-3 align-items-center justify-content-center">
      {% for club in clubs %}
        <form action="{% url 'crm:club_detail' club.club_id %}" method="post" style="display: inline;">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary custom-club-btn" name="club_id" value="{{ club.id }}">{{ club.name }}</button>
        </form>
      {% endfor %}
    </div>
  </div>
{% endblock %}