{%extends 'crm/master.html'%}
{% load static %}
{% load render_table from django_tables2 %}
<!DOCTYPE html>
<html>

<body>
  {% block nav_item_dashboard %}active{% endblock nav_item_dashboard %}
  {%block main%}
  <div class="container main">
    <h1>ClubHub Dashboard</h1>

    <ul class="nav nav-tabs">
      {% if user.is_admin %}
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#admin">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#club">Clubs</a>
      </li>
      {% endif %}
      {% if coord %}
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#clubuser">Club Co-ordinator</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#user">My Memberships</a>
      </li>
    </ul>
    <!-- Tab panes -->
    <div class="card shadow">

      <div class="tab-content">
        {%if user.is_admin %}
        <div class="tab-pane container fade" id="admin">
          <div class="card-body">
            {% if table %}
            {% render_table table %}
            {% else%}
            <p>Sorry, there are no current registered Users</p>
            {%endif%}
          </div>
        </div>
        <div class="tab-pane container fade" id="club">
          <div class="card-body">
            {% if club_table %}
            {% render_table club_table %}
            {% else%}
            <p>Sorry, there are currently no registered Clubs</p>
            {%endif%}
            <a class="btn btn-primary " href="{% url 'crm:create_club' %}">Create Club</a>
          </div>
        </div>
        {% endif %}
        {% if coord %}
        <div class="tab-pane container fade" id="clubuser">
          <div class="card-body">
            {% if club_users_table %}
            {% render_table club_users_table %}
            {% else%}
            <p>Sorry, there are no current members of this club</p>
            {%endif%}
          </div>
        </div>
        {%endif%}
        {%if memberships%}
        <div class="tab-pane container fade" id="user">
          <div class="card-body">
            {% if member_table%}
            {% render_table member_table %}
            {%else%}
            <p>You are not currently a member of any clubs</p>
            {% endif %}
          </div>
        </div>
        {%endif%}
      </div>
    </div>
  </div>
  {%endblock%}
</body>
</html>
