{%extends 'crm/master.html'%}
{% load static %}
<!DOCTYPE html>
<html>

<body>
    {%block main%}

    <div class="container main">
        <div class="row">
            <div class="col-5 p-10">
                <h2>Login</h1>
                    <div class="card shadow">
                        <div class="card-body">
                            <form method="post" action="">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button class="btn btn-primary" type="submit">Login</button>

                            </form>
                        </div>
                    </div>
            </div>

        </div>
    </div>
    {%endblock%}
</body>

</html>