{%extends 'crm/master.html'%}
{% load static %}
<!DOCTYPE html>
<html>

<body>
    {%block main%}
    <div class="container main">
        <div class="row">
            <div class="col-5 p-10">
                <h2>Pending Approval</h1>
                    <div class="card shadow">
                        <div class="card-body">
                            Your {{application_type}} is pending Admin approval. Please check back soon. 
                        </div>
                    </div>
            </div>

        </div>
    </div>
    {%endblock%}
</body>

</html>