{%extends 'crm/master.html'%}
{% load static %}

<!DOCTYPE html>
<html>

<body>
    
    {%block main%}
    <div class="container main">
        <h1>Update Profile </h1>
        <div class="card shadow">
            <div class="card-body">
                <form method="post">{% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Update">
                </form>
            </div>

            
        </div>
    </div>
    </div>
    {%endblock%}
</body>

</html>